// Global Border Radius
//------------------------------------------------------------------------------
$base-border-radius: 3px;
$form-border-radius: $base-border-radius;

// Global Shadows
//------------------------------------------------------------------------------
$form-box-shadow:       inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

//Background Images
//------------------------------------------------------------------------------
$image-path:			"images/";
$header-background: 	"romeheader-background-stretch.jpg";
$header-background-small: 	"romeheader-background.jpg";
$button-backround:		"button-background.png";
$nav-button-background:	"rome-navbutton-background.png";
$nav-button-background-hover: "rome-navbutton-background-hover.png";
$footer-background:		"red-bg.png";