.footer-widgets {
	background: #{$footer-widgets-background-color};
	padding: 0 0 10px;
	@include media($small-screen-up) {
		background: linear-gradient( to bottom, #{$site-main-color}, #{$site-main-color} 60px, #{$footer-widgets-background-color} 60px, #{$footer-widgets-background-color});
		background-repeat: repeat-x;
		padding: $base-padding-small 0 10px;
		.widget {
			margin-left: 15px;
		}
	}
	color: $footer-widgets-font-color;
	font-size: $footer-widgets-font-size;
	
	.footer-widgets-wrap {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
    	padding-right: 0;
    	max-width: $small-screen;
			@include media($small-screen-up) {
						margin-left: auto;
						margin-right: auto;
						padding-left: 5%;
    					padding-right: 5%;
    					max-width: inherit;
			}
	}
	.widget-title {
		color: $footer-widgets-heading-color;
		margin-bottom: 30px;
		background: #{$site-main-color};
		text-align: center;
    	padding: 10px;
			@include media($small-screen-up) {
				background: transparent;
				text-align: left;
				padding: initial;
			}
	}
	.textwidget {
    	margin: 0 auto;
    	padding: 0 5%;
			@include media($small-screen-up) {
				padding: initial;
			}
	}
	.widget {
		margin-left: 0;
	}

	a {
		color: $footer-widgets-link-color;

		&:hover {
			color: $footer-widgets-link-color-hover;
		}
	}

	input {
		border-color: $footer-widgets-border-color;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		background-color: $footer-widgets-button-background-color;
		color: $footer-widgets-button-font-color;
	}

	button:hover,
	button:focus,
	.button:hover,
	.button:focus,
	input[type="button"]:hover,
	input[type="button"]:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	input[type="reset"]:hover,
	input[type="reset"]:focus {
		background-color: $footer-widgets-button-background-color-hover;
		color: $footer-widgets-button-font-color-hover;
	}

	th,
	td {
		border-bottom-color: $footer-widgets-border-color;
	}

	li {
		margin-bottom: 5px;
		padding-bottom: 5px;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.entry {
		margin-bottom: 10px;
	}

	.search-form button {
		border-radius: $base-border-radius;
		margin: 5px;
	}
}

@include media($small-screen-up) {
	.footer-widgets-4 {
		@include omega();
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		@include span-columns(3);
	}
}
