.site-header {
	text-align: center;
	background-color: #fff;;
	background: url(#{$image-path}#{$header-background-small}) center -27px no-repeat;
	/*background: url(#{$header-background}) center 0 no-repeat;*/
	background-size: 700px 285px, cover;

	@include media($small-screen-up) {
	/*background: url(#{$image-path}#{$header-background-new}) center top no-repeat, linear-gradient(to bottom right, #fff, #fff); */
	background: url(#{$header-background}) center top no-repeat, linear-gradient(to bottom right, #fff, #fff);
	background-size: 1857px 177px, cover;
	text-align: left;
	background-position: center 0;
	}

	color: $header-font-color;
	padding: 5px 0;


	@include media($small-screen-up) {
		padding: 15px 0;
	}

	@include media($medium-screen-up) {
		padding: 25px 0 0;
		background-position: center top;
	}
}

/* Title Area
--------------------------------------------- */

.site-branding {
	display: inline-block;
	float: none;
	margin-right: 0;
	width: auto;

	@include media($medium-screen-up) {
		@include span-columns(3);
	}
}

.site-title {
	font-family: $header-font-family;
	font-size: $site-title-font-size;
	font-weight: 600;
	line-height: 1.2;
	text-rendering: optimizeLegibility;

	a,
	a:hover,
	a:focus {
		color: $header-link-color;
	}
}

.site-description {
	color: $header-font-color;
	font-family: $header-font-family;
	font-size: $site-description-font-size;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

/* Header Right
--------------------------------------------- */
.header-right {
	@include span-columns(12);
	margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom:17px;
  	@include media($small-screen-up) {
  		@include span-columns(4);
  		margin-top: 10px;
  		margin-left: auto;
    	margin-right: auto;
    	float: none;
  		margin-top: -120px;
  		margin-bottom: 22px;
  	}  
	@include media($medium-screen-up) {
		@include span-columns(3);
		float: right;
		text-align: right;
		margin-top: 0;
		margin-bottom: 0;
		}
	.widget {
	margin: 0;
	color: $header-font-color;
	.widget-title {
		color: $header-font-color;
	}

	}
}
